In [6]:
import sqlite3
import pandas as pd

In [2]:
# Bring data into a df
df = pd.read_csv('buddymove_holidayiq.csv')

In [3]:
# Check the data quality
print('DataFrame has:', df.shape[0], 'rows, and', df.shape[1], 'columns')
print('There are:', df.isna().sum().sum(), 'NaN values')

DataFrame has: 249 rows, and 7 columns
There are: 0 NaN values

In [4]:
# Open a new connection
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [5]:
# Send df to sqlite3 table
df.to_sql('buddymove_holidayiq', conn)

/home/eric/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

ValueError: Table 'buddymove_holidayiq' already exists.

In [7]:
# Test connection
print('The head of the df should match the search query')

# print df
print(df.head())

# print table query results
curs = conn.cursor()
query = '''SELECT * FROM buddymove_holidayiq LIMIT 5'''
curs.execute(query)
curs.fetchall()

The head of the df should match the search query
  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

[(0, 'User 1', 2, 77, 79, 69, 68, 95),
 (1, 'User 2', 2, 62, 76, 76, 69, 68),
 (2, 'User 3', 2, 50, 97, 87, 50, 75),
 (3, 'User 4', 2, 68, 77, 95, 76, 61),
 (4, 'User 5', 2, 98, 54, 59, 95, 86)]