In [1]:
import sqlite3

In [2]:
# Make a connection
conn = sqlite3.connect('demo_data.sqlite3')

In [3]:
# Create a cursor
curs = conn.cursor()

In [9]:
# Create a table
query = '''CREATE TABLE demo (s TEXT,
                              x NUMERIC,
                              Y numeric);'''
curs.execute(query)

In [10]:
# Insert Rows
query = '''INSERT INTO demo VALUES ('g', 3, 9);'''
curs.execute(query)

In [11]:
# Insert Rows
query = '''INSERT INTO demo VALUES ('v', 5, 7);'''
curs.execute(query)

In [12]:
# Insert Rows
query = '''INSERT INTO demo VALUES ('f', 8, 7);'''
curs.execute(query)

In [13]:
# Check
query = '''SELECT * FROM demo;'''
curs.execute(query)
curs.fetchall()

[('g', 3, 9), ('v', 5, 7), ('f', 8, 7)]

In [14]:
# Close connection
curs.close()
conn.commit()

In [16]:
# Reopen connection and cursor
conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

In [17]:
# How many rows?
query = '''SELECT COUNT(*) FROM demo;'''
curs.execute(query)

# Print answer
print('There are', curs.fetchone()[0], 'rows.')

There are 3 rows.

In [20]:
# How many rows where x & y are at least 5?
query = '''SELECT COUNT(*) FROM demo
WHERE x >= 5
AND y >= 5;'''
curs.execute(query)

# Print answer
print('There are', curs.fetchone()[0], 'rows where x and y are at least 5.')

There are 2 rows where x and y are at least 5.

In [21]:
# How many unique values of y are there
query = '''SELECT COUNT(DISTINCT y) FROM demo;'''
curs.execute(query)

# Print answer
print('There are', curs.fetchone()[0], 'unique values of y.')

There are 2 unique values of y.

In [22]:
##### DANGER ###########
# query = '''DROP TABLE demo;'''
# curs.execute(query)