In [1]:
import sqlite3

In [3]:
# Make cursor & connection
conn = sqlite3.connect('northwind_small.sqlite3')
curs = conn.cursor()

In [11]:
# What are the 10 most expensive items?
query = """SELECT ProductName, UnitPrice FROM Product
ORDER BY UnitPrice DESC
LIMIT 10;"""

curs.execute(query)

print('(Product, Unit Price)', curs.fetchall())

(Product, Unit Price) [('Côte de Blaye', 263.5), ('Thüringer Rostbratwurst', 123.79), ('Mishi Kobe Niku', 97), ("Sir Rodney's Marmalade", 81), ('Carnarvon Tigers', 62.5), ('Raclette Courdavault', 55), ('Manjimup Dried Apples', 53), ('Tarte au sucre', 49.3), ('Ipoh Coffee', 46), ('Rössle Sauerkraut', 45.6)]

In [12]:
# Average age of employee at time of hiring
query = """SELECT AVG(HireDate - BirthDate) AS AvgHiringAge FROM Employee;"""

curs.execute(query)

print('Average Hire Age:', curs.fetchall()[0])

Average Hire Age: (37.22222222222222,)

In [16]:
# Average age of employee at time of hiring by City
query = """SELECT City, AVG(HireDate - BirthDate) AS AvgHiringAge FROM Employee
GROUP BY City
ORDER BY AvgHiringAge DESC;"""

curs.execute(query)

print('(City, Average Hire Age)', curs.fetchall())

(City, Average Hire Age) [('Redmond', 56.0), ('Seattle', 40.0), ('Tacoma', 40.0), ('London', 32.5), ('Kirkland', 29.0)]

In [14]:
# What are the 10 most expensive items and the supplier?
query = """SELECT CompanyName AS Supplier, ProductName, UnitPrice FROM Product, Supplier
WHERE Product.SupplierId = Supplier.Id
ORDER BY UnitPrice DESC
LIMIT 10;"""

curs.execute(query)

print('(Supplier, Product, Unit Price)', curs.fetchall())

(Supplier, Product, Unit Price) [('Aux joyeux ecclésiastiques', 'Côte de Blaye', 263.5), ('Plutzer Lebensmittelgroßmärkte AG', 'Thüringer Rostbratwurst', 123.79), ('Tokyo Traders', 'Mishi Kobe Niku', 97), ('Specialty Biscuits, Ltd.', "Sir Rodney's Marmalade", 81), ('Pavlova, Ltd.', 'Carnarvon Tigers', 62.5), ('Gai pâturage', 'Raclette Courdavault', 55), ("G'day, Mate", 'Manjimup Dried Apples', 53), ("Forêts d'érables", 'Tarte au sucre', 49.3), ('Leka Trading', 'Ipoh Coffee', 46), ('Plutzer Lebensmittelgroßmärkte AG', 'Rössle Sauerkraut', 45.6)]

In [17]:
# What is the largest category?
query = """SELECT CategoryName, MAX(Items) FROM
(SELECT Category.CategoryName, COUNT(Product.Id) AS Items
FROM Category, Product
WHERE Category.Id = Product.CategoryId
GROUP BY Category.Id);"""

curs.execute(query)

print('Largest Category by Unique Items:')
print('(Category, Count of Items)', curs.fetchall())

Largest Category by Unique Items:
(Category, Count of Items) [('Confections', 13)]