In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/eric/anaconda3/lib/python3.7/site-packages (2.8.3)

In [2]:
import pandas as pd
import psycopg2

In [3]:
# Credentials
dbname = 'wifeyudd'
user = 'wifeyudd'
password = 'nSmG8Gl4wAtWglk2U2swUi_iMdOjzS30' # Don't commit this!
host = 'raja.db.elephantsql.com'

In [4]:
# Establish connection
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                       password=password, host=host)

In [5]:
# Instantiate cursor
pg_curs = pg_conn.cursor()

In [6]:
# How many survived?
query = """SELECT COUNT(id) FROM titanic
WHERE survived = 1;"""

# Execute
pg_curs.execute(query)

# Print answer
print('Survived:', pg_curs.fetchone()[0])

Survived: 342

In [7]:
# How many didn't survived?
query = """SELECT COUNT(id) FROM titanic
WHERE survived = 0;"""

# Execute
pg_curs.execute(query)

# Print answer
print('Died:', pg_curs.fetchone()[0])

Died: 545

In [8]:
# Count for each class
query = """SELECT class, COUNT(*) FROM titanic
GROUP BY class
ORDER BY class;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Class, Count)')
pg_curs.fetchall()

(Class, Count)

[(1, 216), (2, 184), (3, 487)]

In [9]:
# Ave age for survived?
query = """SELECT AVG(age) FROM titanic
WHERE survived =1;"""

# Execute
pg_curs.execute(query)

# Print answer
print('Average age of those who survived:')
pg_curs.fetchone()[0]

Average age of those who survived:

Decimal('28.3918128654970760')

In [10]:
# Ave age for died?
query = """SELECT AVG(age) FROM titanic
WHERE survived =0;"""

# Execute
pg_curs.execute(query)

# Print answer
print('Average age of those who died:')
pg_curs.fetchone()[0]

Average age of those who died:

Decimal('30.1229357798165138')

In [11]:
# Ave age by class
query = """SELECT class, AVG(age) FROM titanic
GROUP BY class
ORDER BY class;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Class, Average Age)')
pg_curs.fetchall()

(Class, Average Age)

[(1, Decimal('38.7824074074074074')),
 (2, Decimal('29.8478260869565217')),
 (3, Decimal('25.1704312114989733'))]

In [12]:
# Ave fare by class
query = """SELECT class, AVG(fare) FROM titanic
GROUP BY class
ORDER BY class;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Class, Average Fare)')
pg_curs.fetchall()

(Class, Average Fare)

[(1, 84.1546874999999), (2, 20.6621831521739), (3, 13.7077073921971)]

In [13]:
# Ave fare by survival status
query = """SELECT survived, AVG(fare) FROM titanic
GROUP BY survived
ORDER BY survived;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Survival Status, Average Fare)')
pg_curs.fetchall()

(Survival Status, Average Fare)

[(0, 22.2085840366972), (1, 48.3954076023392)]

In [14]:
# Ave siblings & spouses by class
query = """SELECT class, AVG(sibling_spouse) FROM titanic
GROUP BY class
ORDER BY class;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Class, Average Spouses & Siblings)')
pg_curs.fetchall()

(Class, Average Spouses & Siblings)

[(1, Decimal('0.41666666666666666667')),
 (2, Decimal('0.40217391304347826087')),
 (3, Decimal('0.62012320328542094456'))]

In [15]:
# Ave siblings & spouses by survival status
query = """SELECT survived, AVG(sibling_spouse) FROM titanic
GROUP BY survived
ORDER BY survived;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Survival Status, Average Spouses & Siblings)')
pg_curs.fetchall()

(Survival Status, Average Spouses & Siblings)

[(0, Decimal('0.55779816513761467890')),
 (1, Decimal('0.47368421052631578947'))]

In [16]:
# Ave parents & children by class
query = """SELECT class, AVG(parent_children) FROM titanic
GROUP BY class
ORDER BY class;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Class, Average Parents & Children)')
pg_curs.fetchall()

(Class, Average Parents & Children)

[(1, Decimal('0.35648148148148148148')),
 (2, Decimal('0.38043478260869565217')),
 (3, Decimal('0.39630390143737166324'))]

In [17]:
# Ave parents & children by survival status
query = """SELECT survived, AVG(parent_children) FROM titanic
GROUP BY survived
ORDER BY survived;"""

# Execute
pg_curs.execute(query)

# Print answer
print('(Survival Status, Average Parents & Children)')
pg_curs.fetchall()

(Survival Status, Average Parents & Children)

[(0, Decimal('0.33211009174311926606')),
 (1, Decimal('0.46491228070175438596'))]

In [21]:
# Same name?
query = """SELECT name FROM
(SELECT name, COUNT(name) FROM titanic
GROUP BY name) AS name_counts
WHERE count > 1;"""

# Execute
pg_curs.execute(query)

# Print answer
print('Anybody with the same name?')
if pg_curs.fetchall() == []:
    print('Nope')
else:
    print('Yep')

Anybody with the same name?
Nope