In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /home/eric/anaconda3/lib/python3.7/site-packages (2.8.3)

In [2]:
import pandas as pd
import psycopg2

In [3]:
df = pd.read_csv('https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module2-sql-for-analysis/titanic.csv')

In [4]:
# Change age to int
def to_int(entry):
    return int(entry)

df['Age'] = df['Age'].apply(to_int)

In [28]:
# Clean name
def clean(entry):
    return entry.replace("'", "")

df['Name'] = df['Name'].apply(clean)

In [29]:
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35,0,0,8.0500

In [30]:
# Save the rows as an array for easy syntax later
dirty_rows = df.values

In [31]:
# Create table
create_titanic_table = """
CREATE TABLE titanic (
id SERIAL PRIMARY KEY,
survived INT,
class INT,
name VARCHAR(100),
sex VARCHAR(10),
age INT,
sibling_spouse INT,
parent_children INT,
fare FLOAT
);
"""

In [32]:
# Credentials
dbname = 'wifeyudd'
user = 'wifeyudd'
password = '9VZANv6zUnd0CQ0oKhyeMPiaT7LJaf2c' # Don't commit this!
host = 'raja.db.elephantsql.com'

In [33]:
# Establish connection
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                       password=password, host=host)

In [34]:
# Instantiate cursor
pg_curs = pg_conn.cursor()

In [35]:
# Execute table creation
pg_curs.execute(create_titanic_table)

In [36]:
# Clean up rows
rows = []

for row in dirty_rows:
    rows.append(tuple(row))

In [38]:
# Loop over the array to write rows in the DB
for row in rows:
    insert = """
    INSERT INTO titanic
    (survived, class, name, sex, age, sibling_spouse, parent_children, fare)
    VALUES 
    """ + str(row) + ';'
    
    pg_curs.execute(insert)

In [39]:
# Save and finish session
pg_curs.close()
pg_conn.commit()